
/* Table Specific Cell Colorings */

table.bp-manage tbody td.not-reviewed
{
	color: #FFA300;
}

table.bp-manage tbody td.rejected
{
	color: #FF3D00;
}
table.bp-manage tbody td.approved
{
	color: #00BD08;
}

/* Validation Styles */

input[type=text].invalid
{
	border-color: #F74848;
	background: #FCF8EF;
}

textarea.invalid
{
	background: #FCF8EF;
	border-color: #F74848;
}