/*
Theme Name: Xen Master
Theme URI: http://www.xenmaster.com
Author: Pau Hana Web Development
Author URI: http://www.pauhanaweb.com/
Description: Xen Master Wordpress Theme for Xen Master IT Blue Prints
Version: 1.0
Tags: Xen Master, Pau Hana, Bootstrap, Responsive
*/


.content
{
	min-height: 450px;
}

#topRated li div.cat-icon
{
	border-radius: 50%;
	background: #333;
	padding: 7px;
}

#topRated li div.cat-icon i
{
	font-size: 28px;
	color: #aaa;
}

#topRated li i
{
	color: #777;
}

#topRated li a
{
	color: #11ACEE;
}

#topRated li a:hover
{
	color: #555;
}

#footer #recentBlueprint 
{
	text-align: center;
}

#recentBlueprint img
{
	width: 75%;
	padding: 3px;
	border: 1px solid #333;
}


/* List Table Styles */


.bpListTable
{
	width: 100%;
	box-shadow: 0 2px 6px #ccc;
}

.bpListTable thead
{
	background: #2b2e30;
}

.bpListTable thead th
{
	padding: 4px;
	color: #efefef;
}

.bpListTable thead th:first-child
{
	border-radius: 6px 0 0 0;
}

.bpListTable thead th:last-child
{
	border-radius: 0 6px 0 0;
}

.bpListTable tbody td
{
	text-align: center;
	background: #efefef;
	border-top: 1px solid #dedede;
	padding: 3px;
}

.bpListTable tbody tr:first-child td
{
	border-top: none;
}
.bpListTable tbody tr:last-child td
{
	border-bottom: 1px solid #cdcdcd;
}

.bpInfoSection
{
	margin-top: 15px;
}

.bpInfoHeading
{
	background: #2b2e30;
	color: #B3B3B3;
	border-radius: 6px 6px 0px 0px;
	padding: 5px 8px;
}

.bpInfoHeading i
{
	margin-right: 10px;
}

.bpInfoSection table
{
	width: 100%;
	border-left: 1px solid #888;
	border-right: 1px solid #888;
	border-bottom: 1px solid #888;
	box-shadow: 0 2px 6px #ccc;
	border-radius: 0px 0px 6px 6px;
}

.bpInfoSection table tr td
{
	padding: 5px;
	border-top: 1px solid #B4B4B4;
	/*border-left: 1px solid #ccc;*/
}

.bpInfoSection table td:first-child
{
	border-left: none;
}

.bpInfoSection table tr:first-child td
{
	border-top: none;
}

.bpInfoSection table td:last-child
{
	border-right: none;
}

.bpInfoSection table tr:last-child td:first-child
{
	border-radius: 0 0 0 6px;
}

.bpInfoSection table tr:last-child td:last-child
{
	border-radius: 0 0 6px 0px;
}

.bpInfoSection table tr td ul
{
	list-style-type: square;
}

/* Special Styles for Comments UI Items*/

.bp-comments .media i
{
	font-size: 42px;
	color: #eee;
}

.bp-comments .media.alt i
{
	color: #11ACEE;
}

input#comment-submit {
	display: inline-block;
	*display: inline;
	/* IE7 inline-block hack */
	*zoom: 1;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333333;

	background-color: #f5f5f5;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	*background-color: #e6e6e6;
	/* Darken IE7 buttons by default so they stand out more given they won't have borders */

	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	border: 1px solid #bbbbbb;
	*border: 0;
	border-bottom-color: #a2a2a2;
	*margin-left: .3em;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-transition:background-color .4s ease-in;
    -moz-transition:background-color .4s ease-in;
    -o-transition:background-color .4s ease-in;
    transition:background-color .4s ease-in;
}

input#comment-submit {

	background-color: #11ACEE;
	color: #fff;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

}

input#comment-submit:hover
{
	background-color: #333;
}

